[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flower = "*"
ipdb = "*"
isort = "*"
ipython = "*"
mypy = "*"

[packages]
arrow = "*"
botometer = "*"
celery = "*"
dj-database-url = "*"
django = "*"
django-cors-headers = "*"
django-extensions = "*"
django-test-without-migrations = "*"
freezegun = "*"
gunicorn = "*"
mixer = "*"
peewee = "*"
psycopg2-binary = "*"
python-decouple = "*"
tqdm = "*"
tweepy = "*"
typer = {extras = ["click-completion"], version = "*"}
whitenoise = {extras = ["brotli"], version = "*"}

[requires]
python_version = "3.8"
