[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
ipython = "*"

[packages]
arrow = "*"
botometer = "*"
click = "*"
dj-database-url = "*"
django = "*"
django-extensions = "*"
django-test-without-migrations = "*"
mixer = "*"
peewee = "*"
python-decouple = "*"
tqdm = "*"
tweepy = "*"

[requires]
python_version = "3.8"
